
@{
    ViewData["Title"] = "Error";

}

    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-red">@ViewBag.a</h2>

                <div class="error-content">
                    <h3><i class="fa fa-warning text-red"></i>没能找到你访问的资源</h3>

                    @if (@TempData["ErrorMessage"]!=null)
                    {
                        <p><strong>详细信息:</strong> @TempData["ErrorMessage"]</p>
                    }
                    else
                    {
                        <p><strong>详细信息:</strong> 请检查你输入的地址</p>
                    }


                    <a href="@Url.Action("Index", "home")" class="btn btn-default btn-flat" role="button">主页</a>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
