@model mymvc_core.Models.ViewModels.ExternalLoginViewModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<environment include="Development">

    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

</environment>
<script src="~/js/site.min.js"></script>


<body class="hold-transition login-page">

    <div class="login-box">

        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>

        <div class="login-box-body">
            <p class="login-box-msg">使用该账号登录</p>
          
              <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
              <div asp-validation-summary="All" class="text-danger"></div>
              <div class="form-group has-feedback">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">确定</button>
        </form>

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
</body>






