@{
    ViewData["Title"] = "CharRoom";
}
<div class="content-wrapper">

    @*<div class="container">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-6">&nbsp;</div>
                <div class="col-6">
                    User..........<input type="text" id="userInput" />
                    <br />
                    Message...<input type="text" id="messageInput" />
                    <input type="button" id="sendButton" value="Send Message" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-6">&nbsp;</div>
                <div class="col-6">
                    <ul id="messagesList"></ul>
                </div>
            </div>
        </div>*@


    <div class="box box-primary direct-chat direct-chat-primary" style="width:300px;margin:auto;">

        <div class="box-header with-border">
            <h3 class="box-title">Direct Chat</h3>

            <div class="box-tools pull-right">
                <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="3 New Messages">3</span>
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts">
                    <i class="fa fa-comments"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->



        <div class="box-body">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages">


                <div class="direct-chat-msg">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Alexander Pierce</span>
                        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                    </div>
                    <img class="direct-chat-img" src="~/img/user.jpg">
                    <div class="direct-chat-text">
                        Is this template really for free? That's unbelievable!
                    </div>
                </div>



                <div class="direct-chat-msg right">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-right">Sarah Bullock</span>
                        <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
                    </div>
                    <img class="direct-chat-img" src="~/img/user.jpg">
                    <div class="direct-chat-text">
                        You better believe it!
                    </div>
                </div>


               



            </div>
            <!--/.direct-chat-messages-->
            <!-- Contacts are loaded here -->


            <div class="direct-chat-contacts">
                <ul class="contacts-list">
                    <li>
                        <a href="#">
                            <img class="contacts-list-img" src="~/img/user.jpg" alt="User Image">

                            <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                    Count Dracula
                                    <small class="contacts-list-date pull-right">2/28/2015</small>
                                </span>
                                <span class="contacts-list-msg">How have you been? I was...</span>
                            </div>
                            <!-- /.contacts-list-info -->
                        </a>
                    </li>
                    <!-- End Contact Item -->
                </ul>
                <!-- /.contatcts-list -->
            </div>
            <!-- /.direct-chat-pane -->
        </div>
        <!-- /.box-body -->


        <div class="box-footer">
           
                <div class="input-group">
                    <input type="text" name="content" id="content" placeholder="Type Message ..." class="form-control"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat" id="sendButton">Send</button>
                    </span>
                </div>
          
        </div>
        <!-- /.box-footer-->


    </div>

</div>

<script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

